<h1 class="text-center">@ViewBag.CheckoutCompleteMessage</h1>
<br />
<h2 class="text-center">Twoje zamówienie zostanie zrealizowane w najbliższym czasie. </h2><br />
<h1 class="text-center">Zapraszamy ponownie!</h1>