<h2>Produkty</h2>
<a class="btn btn-primary" asp-controller="Product" asp-action="AddProduct">Dodaj produkt</a>
<a class="btn btn-primary" asp-controller="Product" asp-action="ProductList">Lista produktów</a>